.featured {
    width: 1000px;
    margin-bottom: 100px;
}


.featured-slider-container {
    width: 100%;
    position: relative;
}

.featured-slider-nav {
    position: absolute;
    color: white;
    height: 25%;
    vertical-align: middle;
    top: 50%;
    background-color: aquamarine;
    font-size: 50px;
}

.featured-slider-nav>svg {
    vertical-align: middle;
}

.featured-slider-prev {
    transform: translate(-50%, -50%);
    left: -15px;
}

.featured-slider-next {
    transform: translate(50%, -50%);
    right: -15px;
}

.featured-pagination {
    position: absolute;
    /* left: 50%; */
    bottom: -40px;
    width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.featured-pagination-bullet {
    background-color: red;
    padding: 0 10px;
    margin: 0 10px;
}

.featured-pagination-bullet-active {
    background-color: blueviolet;
}


.single-featured-slider {
    height: 360px;
    display: flex;
}

.single-featured-slider-thumbnail {
    height: 100%;
    width: 640px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.single-featured-slider-thumbnail-trailer {
    position: relative;
    height: 100%;
    max-width: 640px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.single-featured-slider-thumbnail-trailer>video {
    height: 100%;
    width: 100%;
}

.single-featured-slider-projectname {
    height: 60px;
    overflow: hidden;
    font-size: 0px;
    line-height: 1.1;
    padding-bottom: 4px;

}

.single-featured-slider-projectname>span {
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
}

.single-featured-slider-info-box {
    margin: 0 6px;
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.single-featured-slider-info {}

single-featured-slider-thumbnail-box{
    font-size: 0px;
}

.single-featured-slider-info-box-bottom {
    display: flex;
    justify-content: space-between;
}

.single-featured-slider-subthumbnails {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.single-featured-slider-single-subthumbnail {
    height: 95px;
    width: 170px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.6;
}

.single-featured-slider-info {
    overflow: hidden;
}

.icons {
    font-size: 0;
}


.cover-img {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 0.5s;
}

.cover-img.hidden {
    opacity: 0;
    transition: opacity 0.5s;
}