.overview-filter {
    width: 100%;
    margin-bottom: 100px;
    justify-content: center;
    display: flex;
}

.custom-categories {
    display: flex;
    padding: 4px 16px;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-items: center;
}

.custom-categories ul {
    text-decoration: none;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    gap: 10px;
}



.search-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}




.project-categories ul {
    text-decoration: none;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.project-archive-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.project-categories {
    padding: 10px;
    flex-shrink: 0;
    flex-basis: 200px;
    /* padding-right: 20px; */
    /* margin-right: 16px; */
}

.project-archive {
    flex-shrink: 0;
    flex-basis: 100%;
    display: block;
    width: 100%;
    min-height: 500px;
}



.single-overview-item{
    width: 100%;
    /* height: 140px; */
    /* margin-bottom: 4px; */
    position: relative;
    /* display: flex; */
    border-top: black 1px solid;

}

.single-overview-thumbnail{

}
.single-overview-thumbnail-container{

}
.overview-filter-single-project{
}
.single-overview-thumbnail-container img{
    /* height: 102px;
    width: 219px; */
    width: 140px;
    margin: 4px;
    aspect-ratio: 16 / 9;
}

.single-overview-info-container{
    padding: 4px;
    margin-top: auto;
    flex-grow: 1;
}

.single-overview-projectname{
   font-size: 20px;
   padding-left: 5px;
}

.single-overview-date-icons{
display: flex;
gap: 10px;
}

.single-overview-usp{
    flex-basis: 50%;
}