
body {
    /*Matrix*/
    font-family: 'Lucida Grande', monospace;
    background: rgb(13, 2, 8);
    background: linear-gradient(90deg, rgba(13, 2, 8, 1) 0%, rgba(4, 42, 2, 1) 20%, rgba(0, 59, 0, 1) 40%, rgba(0, 59, 0, 1) 60%, rgba(4, 42, 2, 1) 80%, rgba(13, 2, 8, 1) 100%);
    color: #00FF41;
}

a{
  color:#78ff9a;
}
a:visited{
  color: #009525;
}


.content {
    background-color: linear-gradient(90deg, rgba(13, 2, 8, 1) 0%, rgba(4, 42, 2, 1) 20%, rgba(0, 59, 0, 1) 40%, rgba(0, 59, 0, 1) 60%, rgba(4, 42, 2, 1) 80%, rgba(13, 2, 8, 1) 100%);
  }
  
  .single-featured-slider {
    background-color: transparent;
  
  }
  
  .single-featured-slider-info-box {
    background-color: black;
    border: #00FF41 solid 3px;
    background-clip: border-box;
    border-left: none;
    border-radius: 9px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  
  .icons {
    color:#00FF41;
  }
  
  .featured-slider-nav {
    background-color: black;
    color: #00FF41;
    border: #00FF41 solid 3px;
    border-radius: 5px;
  }
  
  .featured-pagination-bullet {
    background-color: black;
    color: #00FF41;
    border: #00FF41 solid 3px;
    border-radius: 5px;
  }
  
  .featured-pagination-bullet-active {
    background-color: #00FF41;
    color: black;
    border: #00FF41 solid 3px;
    border-radius: 5px;
  }

  .welcome-text{
    background: radial-gradient(circle at 100% 100%, #000000 0, #000000 3px, transparent 3px) 0% 0%/8px 8px no-repeat,
    radial-gradient(circle at 0 100%, #000000 0, #000000 3px, transparent 3px) 100% 0%/8px 8px no-repeat,
    radial-gradient(circle at 100% 0, #000000 0, #000000 3px, transparent 3px) 0% 100%/8px 8px no-repeat,
    radial-gradient(circle at 0 0, #000000 0, #000000 3px, transparent 3px) 100% 100%/8px 8px no-repeat,
    linear-gradient(#000000, #000000) 50% 50%/calc(100% - 10px) calc(100% - 16px) no-repeat,
    linear-gradient(#000000, #000000) 50% 50%/calc(100% - 16px) calc(100% - 10px) no-repeat,
    linear-gradient(0deg, transparent 0%, #00FF41 100%);
  }
  