html{
  height: 100%;
}
body{
  height: 100vh;
}
#root{
  height: 100vh;
}

.content{
  padding-top: 20px;
}

.my-container {
  margin: 0 10%;
}

.my-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-container-flex {
  width: 75vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.my-col-prio {
  /* flex: 0 0 48vw; */
  flex: 0 0;
}

.my-col {
  flex: 0 1 20%;
  margin: 0 20px;
}

/* body{
  background-color: black;
  color:white;
}

.bg-color-1 {
  background-color:slateblue;
} */